p{
    margin-top: 50px;
    font-size: 25px;
    font-weight: bold;
}
.row{    
    margin: 0 15px !important;    
}
.mainHeader{
    margin-left: 50px;
    margin-bottom: 50px;
}

.subHeader{
   
    border: 1px solid black;
    margin-bottom: 0px;
}
.componentPad{
    padding-left: 0px;
    padding-right: 0px;
}
.ordLogPad{
    margin-top: 50px; 
    border: 1px solid black;
    padding-left: 0px;
    padding-right: 0px;
}
.textCenter{
    text-align: center;
}
