<p>
  This is Single Order!
</p>
<div class="container">
  
  
  <form class="form-inline">
    <label for="text" class="mainHeader">Order number:</label>
    <input type="text" class="form-control mainHeader" id="text" placeholder="Enter order number" name="text">
    <button type="submit" class="btn btn-primary mainHeader">Submit</button>
  </form>
</div>
<div class="container-fluid">
    <div class="col-md-12 Pad">
    <h2 class="subHeader textCenter" style="background-color:rgb(243, 247, 245)">Order Details</h2></div>
  <div class="row">
    <div class="col-md-4 componentPad">
      <h4 class="subHeader textCenter">Order Name</h4>
        <div class="divTable subHeader">
            <div class="divTableBody">
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            </div>
            </div>
            
    </div>
    <div class="col-md-4 componentPad">
        <h4 class="subHeader textCenter">Order Address</h4>
        <div class="divTable subHeader">
            <div class="divTableBody">
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            </div>
            </div>
    </div>
    <div class="col-md-4 componentPad">
        <h4 class="subHeader textCenter">Contact Details</h4>
        <div class="divTable subHeader">
            <div class="divTableBody">
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Feild Name 1 : Feild Value 1</div>
            </div>
            </div>
            </div>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-md-12">
        <div class="container ordLogPad">
            <h2 class="textCenter " style="background-color:rgb(243, 247, 245)">Order Details log</h2>
                       
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>Item Name</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Satus</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Item Name</td>
                  <td>DD-MM-YYYY</td>
                  <td>mm:ss</td>
                  <td>status</td>
                  <td>Details</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Item Name</td>
                    <td>DD-MM-YYYY</td>
                    <td>mm:ss</td>
                    <td>status</td>
                    <td>Details</td>
                  </tr>
                  <tr>
                      <td>3</td>
                      <td>Item Name</td>
                      <td>DD-MM-YYYY</td>
                      <td>mm:ss</td>
                      <td>status</td>
                      <td>Details</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Item Name</td>
                        <td>DD-MM-YYYY</td>
                        <td>mm:ss</td>
                        <td>status</td>
                        <td>Details</td>
                      </tr>
                      <tr>
                          <td>5</td>
                          <td>Item Name</td>
                          <td>DD-MM-YYYY</td>
                          <td>mm:ss</td>
                          <td>status</td>
                          <td>Details</td>
                        </tr>
              </tbody>
            </table>
          </div>

  </div>
</div>

