<p>
  This is Multiple Order!
</p>

<div class="container">
  <div class="row">
      <div class="col-md-3">
          <div>Country</div>
          <select>
            <option selected>Australia</option>
            <option>England</option>
            <option>India</option>
            <option>USA</option>      
          </select>
        </div>
  <div class="col-md-3">
    <span>Start Date</span>
    <input type="date" value="2018-06-02">
  </div>
  <div class="col-md-3">
    <span>End Date</span>
    <input type="date" value="2018-06-07">
  </div>
  
  <div class="col-md-3">
  <button class="btn btn-primary">Submit</button>
  </div>
</div>
</div>
<br>

<!-- <div class="border">
<div class="container">
  <div class="row">
    <div class="col-md-8">
     
        <span> <font size="5"><label >Show Entries : &nbsp;</label></font>
          <input id="number" type="number">
        </span>
    
  </div>
    <div class="col-md-1"></div>

   
    <div class="col-md-2">
      <div class="sea">
      <input class="form control" name="search" placeholder="Search..">
    </div>
    </div>
    <div class="divTable">
<div class="divTableBody">
<div class="divTableRow bold" >
  
<div class="divTableCell">S.NO</div>
<div class="divTableCell">Name</div>
<div class="divTableCell">Order No</div>
<div class="divTableCell">Start Date</div>
<div class="divTableCell">End date</div>

</div>
<div class="divTableRow">
    <div class="divTableCell">1</div>
    <div class="divTableCell">abc</div>
    <div class="divTableCell">1234</div>
    <div class="divTableCell">Start Date</div>
    <div class="divTableCell">End date</div>
    
</div>
<div class="divTableRow">
    <div class="divTableCell">2</div>
    <div class="divTableCell">Name</div>
    <div class="divTableCell">1245</div>
    <div class="divTableCell">Start Date</div>
    <div class="divTableCell">End date</div>
    
</div>
<div class="divTableRow">
    <div class="divTableCell">3</div>
    <div class="divTableCell">Name</div>
    <div class="divTableCell">12345</div>
    <div class="divTableCell">Start Date</div>
    <div class="divTableCell">End date</div>
    
</div>
<div class="divTableRow">
    <div class="divTableCell">4</div>
    <div class="divTableCell">Name</div>
    <div class="divTableCell">12345</div>
    <div class="divTableCell">Start Date</div>
    <div class="divTableCell">End date</div>
    
</div>
<div class="divTableRow">
    <div class="divTableCell">5</div>
    <div class="divTableCell">Name</div>
    <div class="divTableCell">123467</div>
    <div class="divTableCell">Start Date</div>
    <div class="divTableCell">End date</div>
    
    
</div>

</div>
</div>

  </div>
  
<div class="row float-right">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</div>

</div>
</div> -->

<table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Foo</td>
        <td>Bar</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Someone</td>
        <td>Youknow</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Iamout</td>
        <td>Ofinspiration</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Yoda</td>
        <td>Skywalker</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Patrick</td>
        <td>Dupont</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Barack</td>
        <td>Obama</td>
      </tr>
      <tr>
        <td>7</td>
        <td>François</td>
        <td>Holland</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Michel</td>
        <td>Popo</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Chuck</td>
        <td>Norris</td>
      </tr>
      <tr>
        <td>10</td>
        <td>Simon</td>
        <td>Robin</td>
      </tr>
      <tr>
        <td>11</td>
        <td>Louis</td>
        <td>Lin</td>
      </tr>
      <tr>
        <td>12</td>
        <td>Zelda</td>
        <td>Link</td>
      </tr>
    </tbody>
  </table>